
body {
	font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
    background-color: #bfc0c0;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #3a3335;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", Gadget, sans-serif
}
h1 {
    font-size: 2rem;
    color: #f9d522;
}
h2 {
	color: #b03825;
}



.active {
	color: white;
}
main {
	display: grid;
	grid-template-columns: 1fr;
    font-size: 0.9rem;
    line-height: 1.1;
    
}

footer {
	flex: 1 1 100%;
    height: 2rem;
    color: #f9d522;
    justify-content: center;
}
a {
    color: #3a3335;
    font-size: 2em;
    font-style: normal;
}
.me {
    max-width: 300px;
}