@media only screen and (min-width: 76em) {
    h2, #callToAction{ line-height: 80px;}
    h4 {font-size: 30px;}
    nav a {
        font-size: 1.1rem;
        display: flex;
        flex: 1 1 100%;
    }
    .open li{
        display: flex;
    }
    .navigation li:first-child {display:none;}
    nav ul {
        display: flex;
        flex: 1 1 100%
    }

    nav ul li {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
    }
    
    
    main {
        line-height: 1.4;
        max-width: 850px;
        
    }
    #fakebutton { padding: 30px;}
    
    .text {font-size: 26px;}
    .maps {display: grid;
        grid-template-columns: 1fr 1fr;}
        
    .map {
        border: solid 1px black;
        margin: 20px auto;
        text-align: center;
    background-color: whitesmoke;}
    #rentid {
        max-width: 70%;
    }
    #rentinfo {
    font-size: 2.5rem;
    color: #3affba;
    -webkit-text-stroke-color: #636b66;
    -webkit-text-stroke-width: 1px;
    }
}