@media only screen and (min-width: 76em) {
    h2, #callToAction{ line-height: 80px;}
    nav a {
        font-size: 1.1rem;
        display: flex;
        flex: 1 1 100%;
    }
    .open li{
        display: flex;
    }
    .navigation li:first-child {display:none;}
    nav ul {
        display: flex;
        flex: 1 1 100%
    }

    nav ul li {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
    }
    
    
    main {
        line-height: 1.4;
        max-width: 850px;
        
    }
    #fakebutton { padding: 30px;}
    
    .text {font-size: 26px;}
    
}