
@media only screen and (min-width: 52em) {

    h4{font-size: 27px;}
    main {
    border-radius: 15px;
    max-width: 600px;
    }
    h1{
        line-height: 30px;
    }
    h2, #callToAction{
        line-height: 60px;
    }
    #fakebutton{
        padding: 10px;
    }
    
  
}