
body {
	font-size: 16px;
    font-family: "Lato", sans-serif;
    background-color: #fdfffc;
}

footer {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
    font-family: 'Dosis', sans-serif;
    margin: 0px auto;
    max-width: 100%;
    flex: 0 1 100%;
    height: 2rem;
    color: #fdfffc;
}

.mainImage{
    position: relative;
    text-align: center;
    color: white;
    max-height: 500px;
    overflow: hidden;
}
#heroImg{
    width: 100%;
    overflow: hidden;
}
#pageTitle{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 40%;
    padding-right: 40%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
}
h1 {
    font-size: 12vw;
    color: #3affba;
    text-align: left;
    line-height: 10px;
    -webkit-text-stroke-color: #636b66;
    -webkit-text-stroke-width: 1px;
}
#fakebutton {
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    border-radius: 20px;
    align-self: right;
}
h2, #callToAction {
    
    font-family: "Dosis", sans-serif;
    font-size: 4vw;
    color: #636b66;
    text-align: left;
    line-height: 35px;
    text-decoration: none;
}
h3 {
    color: #3affba;
    font-size: 8vw;
    -webkit-text-stroke-color: #636b66;
    -webkit-text-stroke-width: 1px;

}
h5{
    color: #3affba;
    font-size: 30px;
}

nav {
	background-color: #636b66;
	text-align: center;
    box-shadow: 0 2px 15px gray;
    max-width: 100%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
.navigation a {
    display: block;
    color: #3affba;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #dff9fa;
	color: black;
}
.active {
    background-color: #fff;
}
.active a{
    color: #636b66;
}

a {
    color: #2ec4b6;
}

.responsive li{
    display: block;
}
.open li{
    display: block;
}
.inline {
    display: inline;
}


/* Main Content */
main {
max-width: 500px;
margin: 0px auto;
}
footer {
    max-width: 100%;
}

.text {
    
    
    margin: 20px;
    padding: 10px;
    font-size: 21px;
}

.pictures img{
    max-width: 100%;
    box-shadow: 0 10px 10px #636b66;
    margin: 20px auto;
}



fieldset {
    margin: 20px;
    background-color: whitesmoke;
    border-color: #2ec4b6;
}
label {
    margin: 10px;
    display: block;
    text-align: left;
}
input {
    display: block;
    width: 80%;
    font-size: 1.2rem;
}
textarea {
    width: 400px;
    height: 200px;
}
#submitButton {
    margin: 20px auto;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #2ec4b6;
    border: solid 1px #333;
    color: white;
    -webkit-text-stroke-color: black;
}
legend {
    font-size: 2rem;
    color: black;
    
}
.danger {
    font-size: 1.2rem;
    
    
}
#thanks {
    font-size: 2em;
    margin: 200px;
    border: solid 5px #3affba;
    padding: 30px;
    text-align: center;
}

.events {
    width: 500px;
    margin: 20px auto;
    background-color: #f1f1f1;
    border: solid 2px black;
    padding: 20px;

}
.events h5 {
    
    border-bottom: solid 1px #2ec4b6;
    font-size: 1em;
}
.events p {
    margin-left: 30px;
}
h5 {color:black;}
.weatherSummary {
    background-image: linear-gradient(White, #3affba);
    width: 200px;
    padding-left: 10px;
    box-shadow: 0px 15px 15px #636b66;
}