
body {
	font-size: 16px;
    font-family: "Lato", sans-serif;
    background-color: #fdfffc;
}
p {
    font-size: 4vw;
    box-shadow: 0 10px 30px #f0f0f0;
    background-color: #f5f5f5;
    padding: 10px;
    border: solid 1px black;
}
footer {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
    font-family: 'Dosis', sans-serif;
    margin: 0px auto;
    max-width: 100%;
    flex: 0 1 100%;
    height: 2rem;
    color: #fdfffc;
}

.mainImage{
    position: relative;
    text-align: center;
    color: white;
    max-height: 500px;
    overflow: hidden;
}
#heroImg{
    width: 100%;
    overflow: hidden;
}
#pageTitle{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 40%;
    padding-right: 40%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
}
h1 {
    font-size: 12vw;
    color: #3affba;
    text-align: left;
    line-height: 10px;
    -webkit-text-stroke-color: #636b66;
    -webkit-text-stroke-width: 1px;
}
#fakebutton {
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    border-radius: 20px;
    align-self: right;
}
h2, #callToAction {
    
    font-family: "Dosis", sans-serif;
    font-size: 4vw;
    color: #636b66;
    text-align: left;
    line-height: 35px;
    text-decoration: none;
}
h3 {
    color: #3affba;
    font-size: 8vw;
    -webkit-text-stroke-color: #636b66;
    -webkit-text-stroke-width: 1px;

}

nav {
	background-color: #636b66;
	text-align: center;
    box-shadow: 0 2px 15px gray;
    max-width: 100%;
    margin-bottom: 5px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
.navigation a {
    display: block;
    color: #3affba;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #dff9fa;
	color: black;
}
.active {
    background-color: #fff;
}
.active a{
    color: #636b66;
}

a {
    color: #2ec4b6;
}

.responsive li{
    display: block;
}
.open li{
    display: block;
}
.inline {
    display: inline;
}


/* Main Content */
main {
max-width: 500px;
margin: 0px auto;
}
footer {
    max-width: 100%;
}

#text1 {
    
    background-color: grey;
    height: 200px;
    margin: 20px;
}

.pictures img{
    max-width: 100%;
    box-shadow: 0 10px 10px #636b66;
    margin: 20px auto;
}
#text2 {
    
    background-color: grey;
    height: 200px;
    margin: 20px;
}
