@media (min-width: 32.5em){
        header {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    img {
        float: right;
        width: 100% ;
        grid-area: 1/2/2/3;
        align-self: center;
        justify-self: center;
    }
    .header {
        grid-area: 1/1/2/2;
    }
    h1 {
        font-size: 6vw;
    }
}
