header {
    max-width: 100%;
    background-color: #002147;
    color: white;
}
h1 {
    text-align: center;
    font-size: 8vw;
    font-family: 'Rajdhani', sans-serif;
    
}
main {
    display: block;
    align-content: center;
}
footer {
    background-color: #002147;
    color: lightgrey;
    align-content: center;

}
#family {
    text-align: center;
    border-radius: 10px;
    
}
img {   
    width: 300px;
    float: center;
    padding: 15px;
    
}

a {
    color: rgb(3, 207, 207);
}
 
h3 {
    padding-left: 5%;
    font-size: 26px;
}
ul {
    padding-left: 10%;
    font-size: 16px;
    margin-left: 300px;
}
ul a {
    color: #002147;
}
body {
    background-color: 
    rgb(185, 250, 255);
}