thead {
    font-size: 24px;
    line-height: 40px;
    
}
table, th, td{
    border: 1px solid #c1c4c2;
}
#bold{
    color: white;
    background-color: #628ca6
    
}
table {
    max-width: 330px;
    height: 344px;
    text-align: center;
    margin: 0px auto;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 10px 10px 10px #628ca6;
    border-collapse: collapse;
}
#red {
    background-color: #E7F0ED;
}
#green {
    background-color: #E7FEED;
}
thead, tfoot {
    background-color: rgb(127,185,194);

}
#header {
    background-color: #628CA6;
    color: white;
    letter-spacing: 1.5px;
}
tfoot {
    font-size: 12px;
    line-height: 30px;
}
#Italics {
    font-style: italic;
}