
body {
	font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
    background-color: #bfc0c0;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #3a3335;
	display: flex;
	
	align-items: center;
	justify-content: center;
	padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    
}

.logo {
    max-width: 128px;
    margin: auto;
}
header {
    max-width: 100%;
}
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1, h2, h4, h5, h6 {
    font-family: "Arial Black", Gadget, sans-serif;
}
h1 {
    font-size: 2rem;
    color: #f9d522;
}
h2 {
    font-family: 'rajdhani', sans-serif;
	color: #b03825;
}
h3 {
    color: #f9d522;
}

nav {
	background-color: #b03825;
	text-align: center;
    box-shadow: 0 2px 15px gray;
    max-width: 100%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
.navigation a {
    display: block;
    color: #f9d522;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #f9d522;
	color:#b03825;
}
.active {
	color: white;
}

footer {
	flex: 0 1 100%;
    height: 2rem;
    color: #f9d522;
}
a {
    color: #3a3335;
}

.contentBox {
    text-align: center;
    display: block;
    margin: 15px;
    border: 1px dashed black;
    padding: 10px;
    box-sizing: border-box;
}
.responsive li{
    display: block;
}
.open li{
    display: block;
}
.inline {
    display: inline;
}
#name { margin: 0 auto;}
#phrase { margin: 0 auto;}
#pageTitle {margin: 20px;}