
body {
	font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
    background-color: #bfc0c0;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #3a3335;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", Gadget, sans-serif
    display: block;
}
h1 {
    font-size: 2rem;
    color: #f9d522;
}
h2 {
	color: #b03825;
}

nav {
	background-color: #b03825;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
.navigation a {
    display: block;
    color: #f9d522;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #f9d522;
	color:#b03825;
}
.active {
	color: white;
}

footer {
	flex: 0 1 100%;
    height: 2rem;
    color: #f9d522;
}
a {
    color: #3a3335;
}

.contentBox {
    text-align: center;
    display: block;
    margin: 15px;
    border: 1px dashed black;
    padding: 10px;
    box-sizing: border-box;
}
.responsive li{
    display: block;
}
.open li{
    display: block;
}