
@media only screen and (min-width: 46em) {

    
    main {
    border-radius: 10px;
    max-width: 825px;
    }
    .card, .card2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card img {
        grid-area: 1/1/2/2;
        margin-top: 20px;
    }
    .card .cardtext {
        grid-area: 1/2/2/3;
    }
    .card2 img {
        grid-area: 1/2/2/3;
        margin-top: 20px;
    }
    .card2 .cardtext {
        grid-area: 1/1/2/2;
    }
    
  
}