
@media only screen and (min-width: 46em) {

    
    main,
    footer {
    border-radius: 10px;
    max-width: 825px;
    }
    label {
        font-size: 1.5rem;
    }
   input {
       height:30px;
   }
   .danger {
       font-size: 1.5rem;
       
   }
}